<html>
   <body>
    <h3>IQM Email Verifier Tool</h3>
    <p>Enter the person's first name, last name and targeted domain. </p>
    <form action = "/results" method = "GET">
         <p>First: <input type = "text" name = "first" value={{first}} />
         Last: <input type = "text" name = "last" value={{last}} />
         Domain: <input type = "text" name = "domain" value={{domain}} /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      {% if results == None %}
        <p></p>
        {% else %}
        <p><b>Verified Working Emails:</p></b>
        <ul>
        {% for result in results %}
          <li>{{result}}</li>
        {% endfor %}
      </ul>
      {% endif %}
   </body>
</html>
